nav {
  background-color: rgba(100,200,100,1);
  display: flex;
  height: 100px;
}
nav h2{
  padding: 0 0 0 20px;
  display: inline;
  flex: auto;
  margin-top: 20px;
  /*background-color: red;*/
}

nav ul {
  list-style-type: none;
  margin: 30px 0 0 0;
  flex-flow: row;
}

nav ul li{
  list-style: none;
  float:left;
  /*inline: block;*/
  padding: 0 30px 0 0;
  font-size: 1.75em;
  font-family: 'Open Sans', sans-serif;
  /*background-color: red;*/
}
nav ul li a{
  text-decoration: none;
}
.name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 3em;
}

.about {
  height: 320px;
  width: 100%;
  padding: 80px 0 80px 0;
  text-align: center;
  background-color: #666;
}

.about h2{
  font-size: 4em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

/*this is the section for the WORK Items*/
.workSections{
  display: flex;
}
.work {
  height:400px;
  width: 50%;
  background-color: #ff9800;
  margin: 1px;
}

.development{
  /*Change to a Monospace Font*/
  font-family: Inconsolata, monospace;
  flex: auto;
}
.design{
  /*Change to a Bodoni style font*/
  font-family: "Bodoni 72", serif;
  flex: auto;
}
.design .description{
  /*margin: 0 0 0 calc(50%);*/
  /*text-align: right;*/
}
.description{
  /*width: calc(50% - 50px);*/
  padding: 25px;
  background-color: rgba(100,100,100,.5);
}
.description h3{
  font-size: 1.5em;
}
.whatWasUsed{
  width: 50%;
  /*background-color: red;*/
  height: 20px;
  display: flex;
}
.whatWasUsedItem {
  font-family: sans-serif;
  text-align: center;
  color: #aaa;
  font-size: .75em;
  min-width: 35px;
  padding: 3px 5px 10px 5px;
  background-color: rgba(65, 70, 65, .75);
  border-radius: 4px;
  border: 1px solid rgba(100,50,100,1);
  margin: 0 0 0 8px;
  list-style: none;
}
.whatWasUsedItem:first-child{
  margin-left: -40px;
}
.design .whatWasUsed{
  /*letter-spacing: .05em;*/
}
